*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2vw;

    list-style-type: none;

    height: 100vh;
}

.nav > li {
    font-family: Satoshi, sans-serif;

    padding: 1rem 0 1rem 2.5rem;
    border-radius: 0.5rem;
    width: 16vw;
}

.nav a {
    display: flex;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
    color: #FFF;
}

.nav a:hover {
    background: var();
}

.selected {
    background: var(--bg);
    font-weight: bolder;
}
