body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

header {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--fore);
    font-family: Satoshi, sans-serif;
}

#navbar-container {
    grid-row: 1/3;
}

.theme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 2vw;
}

.theme-container div {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--bg);

    height: 32px;
    width: 32px;
    border-radius: 4px;
}

.theme-container svg {
    width: 20px;
    height: 20px;
}

#palette {background: var(--fore)}
#theme {background: var(--main)}
